# Test Environment Variables
DATABASE_URL=postgresql://postgres:password@localhost:5433/productmanager_test?schema=public

# Server
PORT=3001
NODE_ENV=test

# JWT Configuration (secret dédié aux tests)
JWT_SECRET=test-secret-key
JWT_EXPIRES_IN=1h
